*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e0e0e0, #ffffff);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }


  


.login-form ,.profile-page{
   
    background-color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 40px;
     
      
    }

    .login-form>form, .profile-section{
        display: flex;
        flex-direction: column;
        gap: 30px;
       
    }

    .input-item{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    input{
        padding: 10px;
        border-radius: 10px;
        outline: none;
    }

    button{
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(50, 232, 232);
        cursor: pointer;
    }

    button:hover{
        background-color: aqua;
    }

    .footer{
        text-align: center;
    }

    a{
        color: darkgray;
     text-decoration: none;
    }

    a:hover{
        color:gray
    }
